# Caddyfile para o OperaBeauty

{$DOMAIN:localhost} {
    # Compressão gzip/zstd para otimizar tráfego
    encode zstd gzip

    # Proxy reverso para o backend DEVE vir primeiro e isolado
    handle /api/* {
        reverse_proxy api:5000
    }

    # Todo o resto vai pro Frontend (React)
    handle {
        root * /srv/dist
        try_files {path} /index.html
        file_server
    }
}
